@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap");
:root {
  --pink-color: #ff7c5b;
  --gray-color: gray;
  --white-color: #fff;
}
*::selection {
  background: var(--pink-color);
  color: #fff;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--pink-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn-travel {
  font-size: 20px;
  padding:2px 10px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--pink-color) !important;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  color: var(--pink-color) !important;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 4;
}